/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../static/images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column; /* Align elements in a column */
    min-height: 100vh; /* Make sure the body takes full height */
}

.container {
    background-color: rgba(0, 0, 0, 0.8); /* Black container with transparency */
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Adding shadow to the container */
    max-width: 600px;
    width: 100%;
    margin: auto; /* Center container */
    flex: 1; /* Allow the container to grow and take available space */
    margin-top: 10%;
    margin-bottom: 5%;
}

/* Heading Styles */
h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 30%;
    margin-bottom: 30px;
    color: #fff;
}

/* Form Styles */
form {
    margin-top: 20px;
}

label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    margin-left:-10px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #6a3cf7;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a2ce6;
}

/* Mobile Responsive Adjustments */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 80%;
        max-width: 80%;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 14px;
    }
}

/* Footer Styles */
footer {
    padding: 10px; /* Add some padding to the footer */
    background-color: #18191f; /* Lighter background color for the footer */
    text-align: center;
}

footer p {
    margin: 10px 0;
    color: whitesmoke; /* Adjust text color for better contrast */
    font-size: 0.9rem;
}

/* Navbar Styles */
nav {
    width: 100%;
    padding: 0;
    background-color: #18191f; /* Lighter background color for the navbar */
    display: flex;
    justify-content: center; /* Center the logo */
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 150px;
    height: auto;
}
